//about me section styles

.aboutMe__content {
    display: flex;
    margin-top: 30px;
}

.aboutMe__description {
    width: 55%;
}

.aboutMe__headshot {
    width: 30%;
    border: 3px solid $firstBackground;
    border-radius: 50%;
    margin-left: 30px;
    align-self: flex-start;
    img {
        width: 100%;
        border-radius: 50%;
        padding: 20px;
    }
}

//positioning decorative circles

.aboutMe .wrapper {
    position: relative;
}

.aboutMe__ellipseMedium {
    width: 80px;
    position: absolute;
    right: 0;
    top: 0;
    img {
        width: 100%;
    }
}

.aboutMe__ellipse--outer {
    background-image: url(/public/assets/ellipseOuter.png);
    // display: inline-block;
    width: 110px;
    height: 110px;
    background-size: cover;
    border: 1px solid $secondBackground;
    position: absolute;
    bottom: 0;
    right: 0;
    
}

.aboutMe__ellipse--inner {
    width: 73px;
    height: 73px;
    background-image: url(/public/assets/ellipseInner.png);
    background-size: cover;
    margin: 5px 0 0 10px;
}