.contact__container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    @include tablet {
        justify-content: space-around;
    }
    form {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        @include tablet {
            width: 70%;
        }
        @media (max-width: 540px){
            width: 100%;
        }
    }
    .contact__image {
        width: 45%;
        @include tablet {
            display: none;
        }
        img {
            width: 100%;
        }
    }
}

.visuallyhidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

input[type=text],
input[type=email] {
    padding: 5px 0;
    background: transparent;
    margin-bottom: 40px;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid rgba(40,40,40,0.5);
    &::placeholder{
        font-family: $mainFont;
        color: rgba(40,40,40,0.7);
    }
}

input[type=submit] {
    color: $fontColor;
    font-weight: 500;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid $fontColor;
    text-transform: uppercase;
    transition: all 0.3s;
    background: none;
    &:hover,
    &:focus {
        color: $highlight;
        background: $fontColor;
    }
}

