// mixins
$mainFont: 'Roboto', sans-serif;
$fontColor: #282828;
$firstBackground: #F0EFEF;
$secondBackground: #f7f7f7;
$thirdBackground: #fff;

// header background color #F0EFEF
//About me background color #f7f7f7
//skills background #fff
//myWork background #F0EFEF
//sayHello backgorund #f7f7f7
//footer background #fff



//global styles
html {
    font-size: 62.5%;
}

body {
    // background: darkcyan;
    font-size: 1.6rem;
    font-family: $mainFont;
    color: $fontColor;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.section__title:after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: $fontColor transparent transparent;
    border-width: 20px 15px 0 15px;
    position: relative;
    display: block;
    bottom: -8px;
}

//typography styles
h1 {
    font-size: 7.2rem;
    span{
        font-size: 11rem;
        font-weight: 700;
    }
}

h2 {
    font-size: 3.6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0;
}

header h2 {
    font-size: 4rem;
    text-transform: none;
}

h2,
h3 {
    font-weight: 500;

}

h3 {
    font-size: 2.8rem;
}

p {
    line-height: 2.8rem;
}

// .section__title {
//     padding-top: 60px;
// }

section {
    padding: 80px 0;
}

footer {
    padding-top: 80px;
}

//section shaper for cheveron (after element)

// header:after {
//     content: '';
//     width: 0;
//     height: 0;
//     border-style: solid;
//     border-color: $fontColor transparent transparent;
//     border-width: 20px 15px 0 15px;
//     position: relative;
//     display: block;
//     bottom: -8px;
// }

// header:after,
// section:after {
//     // content: '';
//     // width: 100vw;
//     // height: 150px;
//     // border-style: solid;
//     // border-color: rebeccapurple transparent transparent transparent;
//     // border-width:  100px 25vw;
//     // position: relative;
//     // display: block;
//     // bottom: 0;
//      content:'';
//     position: relative;
//     top: 100%;
//     left: 0;
//     right: 0;
//     // margin-left: -50px;
//     width: 0;
//     height: 0;
//     border-top: solid 100px #e15915;
//     border-left: solid 50vw transparent;
//     border-right: solid 50vw transparent;
// }

.triangle {
	width: 100%;
	height: 0;
	// border-left: 49vw solid transparent;
	// border-right: 49vw solid transparent;
	// border-top: 10vh solid $firstBackground;
}

.myWorks {
    background: $firstBackground;
}

.aboutMe,
.contact {
    background: $secondBackground;
}

.skills,
footer {
    background: $thirdBackground;
}

.first {
    border-top: 20vh solid $firstBackground;
    border-left: 49vw solid $secondBackground;
	border-right: 49vw solid $secondBackground;
}

.second {
	border-top: 20vh solid $secondBackground;
    border-left: 49vw solid $thirdBackground;
	border-right: 49vw solid $thirdBackground;
}

.third {
    border-top: 20vh solid $thirdBackground;
    border-left: 49vw solid $firstBackground;
	border-right: 49vw solid $firstBackground;
}