//header styles

//general header
header {
    min-height: 100vh;
    background: linear-gradient( rgba(240,239,239,0.8), rgba(240,239,239,0.8) ), url(../assets/hero2.jpg);
    background-size: cover;
    background-position: center;
    h1 {
        margin: 0;
        // padding-top: 50%;
        // transform: translateY(-50%);
    }
    h2 {
        margin: 0;
        // transform: translateY(-100%);
        
    }
}

//header banner (name and search)

.header__banner {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    position: relative;
    p {
        margin: 0;
        font-size: 2.2rem;
        font-weight: 500;
        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 15px;
            height: 3px;
            background: $fontColor;
        }
        &:before {
            top: 17px;
        }
        &:after {
            left: 63px;
            bottom: 17px;
        }
    }
}

//main title

.header__mainTitle {
    margin-top: 35vh;
    transform: translateY(-50%)
}

//navigation

nav {
    position: absolute;
    right: 30px;
    top: 0;
    bottom: 0;
    padding-top: 20vh;
    border-right: 1px solid $fontColor;
    z-index: 10;
    li {
        text-transform: uppercase;
        margin-bottom: 35px;
        padding-right: 30px;
        position: relative;
        &:after {
            content: '';
            display: block;
            height: 7px;
            width: 7px;
            border-radius: 50%;
            background: $fontColor;
            position: absolute;
            left: 146px;
            bottom: 8px;
        }
        &:first-child a:hover:after,
        &:first-child a:focus:after   {
            width: 65px;
        }
        &:nth-child(2) a:hover:after,
        &:nth-child(2) a:focus:after {
            width: 30px;
        }
        &:nth-child(3) a:hover:after,
        &:nth-child(3) a:focus:after {
            width: 65px;
        }
        &:nth-child(4) a:hover:after,
        &:nth-child(4) a:focus:after {
            width: 40px;
        }
        &:last-child a:hover:after,
        &:last-child a:focus:after {
            width: 40px;
        }
    }
    a {
        color: $fontColor;
        font-weight: 500;
        padding: 10px 20px;
        border-radius: 20px;
        transition: all 0.3s;
        
        &:before {
            content: '';
            display: block;
            position: absolute;
            height: 13px;
            width: 13px;
            border: 1px solid $fontColor;
            border-radius: 50%;
            left: 142px;
            background: #fff;
            z-index: 20;
            transition: all 0.3s;
            
        }
        &:hover:before,
        &:focus:before {
            background: transparent;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            height: 1px;
            background: $fontColor; 
            right: 0;
            bottom: 10px;
            transition: all 0.3s;
            width: 0;
        }
        
        &:hover,
        &:focus {
            background: $fontColor;
            color: #fff;
        }
    }
}