//header styles

//general header
header {
    min-height: 100vh;
    background: linear-gradient( rgba(240,239,239,0.1), rgba(240,239,239,0.1) 70%,rgba(240,239,239,0.9) 98% ), url(../assets/heroDots.jpg);
    background-size: cover;
    background-position: center;
    h1 {
        margin: 0;
    }
    h2 {
        margin: 0;
        @media (max-width: 660px){
            margin-top: 30px;
        }
    }
}

//header banner (name and search)

.header__banner {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    position: relative;
    p {
        margin: 0;
        font-size: 2.2rem;
        font-weight: 500;
        &:before,
        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 15px;
            height: 3px;
            background: $fontColor;
        }
        &:before {
            top: 17px;
        }
        &:after {
            left: 63px;
            bottom: 45px;
            @include smallDesk {
            bottom: 17px;
            }
        }
    }
}

.laptopIcon {
    width: 60px;
    height: 60px;
    img{
        width: 100%;
    }
    @include smallDesk {
        display: none;
    }
}

//main title

.header__mainTitle {
    margin-top: 35vh;
    transform: translateY(-50%)
}

//navigation

nav {
    position: fixed;
    right: 30px;
    top: 0;
    bottom: 0;
    padding-top: 20vh;
    border-right: 1px solid $fontColor;
    z-index: 10;
    background: transparent;
    transition: all 0.5s;
    @include smallDesk {
        border: none;
        padding: 0;
    }
    ul {
        @include smallDesk {
            position: fixed;
            top: 0;
            right: 30px;
        }
    }
    li {
        text-transform: uppercase;
        margin-bottom: 35px;
        padding-right: 30px;
        position: relative;
        @include smallDesk {
            margin: 0;
            padding: 0;
            position: absolute;
            top: -50px;
            right: -50px;
            opacity: 0;
            transition: all 0.5s;
            width: 100%;
            text-align: center;

        }
        &:after {
            content: '';
            display: block;
            height: 7px;
            width: 7px;
            border-radius: 50%;
            background: $fontColor;
            position: absolute;
            left: 146px;
            bottom: 8px;
            @include smallDesk {
                display: none;
            }
        }
        &:first-child a:hover:after,
        &:first-child a:focus:after   {
            width: 65px;
        }
        &:nth-child(2) a:hover:after,
        &:nth-child(2) a:focus:after {
            width: 30px;
        }
        &:nth-child(3) a:hover:after,
        &:nth-child(3) a:focus:after {
            width: 40px;
        }
        &:nth-child(4) a:hover:after,
        &:nth-child(4) a:focus:after {
            width: 40px;
        }
        &:last-child a:hover:after,
        &:last-child a:focus:after {
            width: 40px;
        }
    }
    a {
        color: $fontColor;
        font-weight: 500;
        padding: 10px 20px;
        border-radius: 20px;
        transition: all 0.3s;
        @include smallDesk {
            display: inline-block;
            border: 2px solid $fontColor;
            padding: 5px 10px;
        }
        
        &:before {
            content: '';
            display: block;
            position: absolute;
            height: 13px;
            width: 13px;
            border: 1px solid $fontColor;
            border-radius: 50%;
            left: 142px;
            background: #fff;
            z-index: 20;
            transition: all 0.3s;
            @include smallDesk {
                display: none;
            }
        }
        &:hover:before,
        &:focus:before {
            background: transparent;
        }
        &:after {
            content: '';
            display: block;
            position: absolute;
            height: 1px;
            background: $fontColor; 
            right: 0;
            bottom: 11px;
            transition: all 0.3s;
            width: 0;
            @include smallDesk {
                display: none;
            }
        }
        
        &:hover,
        &:focus {
            background: $fontColor;
            color: $highlight;
            @include smallDesk {
                border: 1px solid $fontColor;
                
            }
        }
    }
}

.nav__menu--active {
    background: $fontColor;
            color: $highlight;
            @include smallDesk {
                border: 1px solid $fontColor;
            }
}



//for firefox only, fixes before element alignment
@-moz-document url-prefix() {
    nav a::before{
        bottom: 4px;
    }
}

//mobile menu
.hamburger {
    height: 50px;
    width: 50px;
    border: 2px solid $fontColor;
    border-radius: 50%;
    padding: 10px;
    display: none;
    position: fixed;
    right: 20px;
    top:20px;
    z-index: 999999999;
    background: rgba(240,239,239,0.8);
    @include smallDesk {
        display: block;
    }
}

.hamburger span {
    display: block;
    height: 4px;
    background: $fontColor;
    position: absolute;
    left: 8px;
    right: 8px;
    border-radius: 20px;
    opacity: 1;
    transition: all 0.5s ease;
}

.hamburger span:first-child {
    top: 12px;
}

.hamburger span:nth-child(2) {
    top: 21px;
}

.hamburger span:last-child {
    top: 30px;
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:first-child {
    transform: rotate(-45deg);
    top: 22px;
    
}

.hamburger.open span:last-child {
    transform: rotate(45deg);
    top: 22px;
    
}

@include smallDesk {
    nav ul .active {
        opacity: 1;
        &:first-child  {
            top: 15px;
            right: 210px;
            
        }
        &:nth-child(2) {
            top: 65px;
            right: 200px;
        }
        &:nth-child(3) {
            top: 114px;
            right: 170px;
            
        }
        &:nth-child(4) {
            top: 161px;
            right: 120px;
            
        }
        &:last-child {
            top: 204px;
            right: 75px;
            
        }
    }

}


.dim {
    background: rgba(240,239,239, 0.7);
    top: 0;
        left: 0;
        bottom: 0;
        right: 0;
}